extends base

block content
    p=errorMessage
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        if !loggedInUser.avatarUrl
            span.icon 😀
        else if loggedInUser.avatarUrl[0]==="h"
            img(src= loggedInUser.avatarUrl,crossorigin, width="70" height="70")
        else 
            img(src="/" + loggedInUser.avatarUrl,crossorigin, width="70" height="70")
        label(for="avatar") Avatar
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(placeholder="Name", name="name", type="text", required, value=loggedInUser.name)
        input(placeholder="Email", name="email", type="email", required, value=loggedInUser.email)
        input(placeholder="Username", name="username", type="text", required, value=loggedInUser.username)
        input(placeholder="Location", name="location", type="text", required, value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        hr
        if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href="change-password") Change Password &rarr;  